
:root {
  --width-max: 850px;
  --margin-colored:70%;
  --margin-primary:15%;
  --margin-medium:10%;
  --margin-small:5%;
  --margin-xsmall:1%;
}
/* md */

@media (min-width: 992px) and (max-width: 1199px) {

  main [role="main-home-wrapper"] {
    padding:var(--margin-medium);

  }

  .work-details h1, h3, h4, h5, p{
    text-align:left;
  }

  .role {
    padding-left:0;
  }

  #ipd-persona,#ipd-empathy,.concept-collection,#concept-test-graph{
    margin:auto 0;
    width:100%;
  }
	
	.header-container, .container2{
		width: 100%;
		float:none;
  }
  .intro {
    display:block;
  }

  #me {
    width:50%;
  }
 

	.about-row{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap:10px;
		
  }
  
  #buddy-process {
    width:100%;
  }
  

}

/* sm */

@media (min-width: 768px) and (max-width: 991px) {

  main [role="main-home-wrapper"] {
    padding:var(--margin-medium);

  }


  #width-change {
    padding:var(--margin-medium);
    margin:auto 0;
  }

  .role {
    padding-left:0;
  }

  .work-details h1, h3, h4, h5, p{
    text-align:left;
  }

  #validation-content{
    padding:var(--margin-small);
  }

 .buddyfind-image img{
  object-fit:contain;
  width:100%;
  }

  #validation-content{
    width:100%;
    text-align:left;
    padding:var(--margin-medium);
  } 
  .overview {
    display:block;
  }
  
	.header-container, .container2{
		width: 100%;
		float:none;
	}

  #buddy-process {
    width:100%;
  }
  



main[role="main-inner-wrapper"] .about-content{ padding:5%}

main[role="main-inner-wrapper"] .thumbnails-pan section figure figcaption{ margin:0 10%}

section.blog-content figure .post-date{ padding-top:20px; height:100px; width:100px}

article.contact-header[role="pge-title-content"] p a{padding-right:10px}

.contat-from-wrapper{ margin-top:10px; padding:0 15px}

.grid-lod li{ width:100% !important; position:static !important; display:inline-block}

.grid-lod li img{ width:100%}

.mim-image img {
  width:100%;
}

.intro {
  display:block;
}

.about-row{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
  
}
}

/* xs */

@media (max-width:767px) {
  :root{
    --width-max: 750px;
  } */


  .work-details h1, h3, h4, h5, p{
    text-align:left;
  }

  main[role="main-home-wrapper"] {
    padding:var(--margin-medium);
  
  }

  main[role="main-home-wrapper"] h1{
    line-height:80px;
  }

  .index-container {
    flex-direction:column;
    
  }
  
  #text-right,#text-left {
    padding-top: var(--margin-medium);
    padding-left: 0;
  }

  #width-change{
    padding:var(--margin-medium);
    width:100%;
    margin:auto 0;
  }
 

  /*ipd*/

  #validation-content{
    width:var(--margin-colored);
    /* margin:0 auto; */
  }

  #ipd-challenge-highlight {
    padding:var(--margin-medium);
  }

  .role {
    padding-left:0;
  }

  .ipd-solution {
    columns: 1;
    padding-top:var(--margin-primary);
  }

  .ipd-quote {
    width:90%;
    margin:0 auto;
  }

  .overview {
    display:block;
  }

  .ipd-interview-data,.design-goal-content {
    padding:var(--margin-small);
    margin:0 auto;
    columns:1;
  }

  .ipd-interview {
    padding-bottom:var(--margin-medium);
  }

  .index{
		grid-template-columns:auto;
  }
  
/*buddyfind*/

 .gif{
  padding-top:var(--margin-medium);
  padding-bottom:var(--margin-primary);
  margin:0 auto;
 }

 #buddy-process {
  width:100%;
}

 .buddyfind-solution{
   flex-direction: column;
 }

 #reverse{
   flex-direction: column-reverse;
 }

 .left,.right{
   margin:0;
 }

 #buddy-quote {
   width:100%;
   text-align:center;
 }

 .impact {
   display:block;
 }


	.topnav.responsive {position: relative;}
  	.topnav.responsive .icon {
    	position: absolute;
    	right: 0;
    	top: 0;
	}
	  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

 .about-content {
   padding:var(--margin-medium);
 }

  .intro {
    display:block;
  }

	.about-row{
		display:grid;
		grid-template-columns: 1fr;
		grid-gap:10px;
		
	}
	.about-column p{
		text-align:center;
  }
  
	.about-column img{
		margin-left:auto;
		margin-right:auto;
  } 
  

/* 	

	main[role="main-inner-wrapper"] .about-content{ padding:5%}

	main[role="main-inner-wrapper"] .thumbnails-pan section figure{ margin-bottom:20px}

	section.blog-content figure .post-date{ padding-top:20px; height:100px; width:100px}

	section.blog-content article{ padding:2% 5%; font-size:18px; line-height:24px;font-family: 'proxima_nova_cn_rgregular';}

	article.contact-header[role="pge-title-content"] p a{ font-size:18px; padding-right:10px}

	.contat-from-wrapper{ margin-top:10px; padding:0 15px}

	.contat-from-wrapper input[type="text"], .contat-from-wrapper input[type="email"]{ margin-bottom:20px}

	.contat-from-wrapper textarea{ margin-top:0} */

	
	.header-container, .container2{
		width: 100%;
		float:none;
	}

	.mim-banner img{
		object-fit: cover;
		max-height: 200px;
	}
	.column img{
		width:100%;
		
	}

	.sticky,.nav-link{
		display:none;
	}
	
	
	.row h3{
		margin:10;
	}

	.interview img{
		max-height:500px;;
	}

	.flex {
    display:block;
  }

  #brainstorm {
    padding-bottom:var(--margin-small);
  }

  .eazibuy-solution{
    flex-direction:column;
  }

  .eazibuy-gif {
    margin:0 auto;
    padding-bottom:var(--margin-medium);
  }

	.prompt,.prompt-overview,.what-if{
		display:block;
	}

	.examplar p,.user-journey p,.usability p,.userflow p {
		text-align:center;
  }
  
}

@media (min-width:1199px) {

  #ipd-challenge-highlight h2{
    width:70%;
  }

  .ipd-solution-overview,#ipd-persona,#ipd-empathy,.concept-collection,#concept-test-graph{   
   padding:var(--margin-medium);
  }
  #ipd-solution-image {
    padding-right:var(--margin-primary);
  }
  #app-design,#examplar{
    max-width: 1000px;
  }

  /*eazibuy*/
  .user-journey img{
    padding-left:var(--margin-primary);
    padding-right:var(--margin-primary);
  }
 

}