
:root {
  --color-theme:#dd7676;
  --color-light:#ffc5c5;
  --color-text: #404040;
  --color-hover:#8a8a8a;
  --color-ipd-primary:#4AB9DE;
  --color-ipd-secondary:#e9fdc5;
  --color-ipd-bg: #EDFBFF;
  --color-ipd-light:rgba(0, 195, 255, 0.3);
  --color-buddy-primary: #E38B75;
  --color-buddy-light: #ffd4ca;
  --color-buddy-bg:#fff5f2;
  --color-buddy-secondary:#fae3c4;
  --color-eazibuy-primary: #5FC9B0;
  --color-eazibuy-bg:#ecfcf8;
  --color-eazibuy-light: #c3f8a5;
  --color-eazibuy-secondary:#f7f8b0; 
  --color-mim-primary:#D23A38;
  --color-mim-light:#ffc7c6;
  --color-mim-bg:#f3f3f3;
  --color-mim-secondary:#ececec;
  --typeface-title: 'Playfair Display',serif;
  --typeface-text: 'Lato', sans-serif;
  --width-max: 900px;
  --margin-colored:65%;
  --margin-footer:30%;
  --margin-primary: 15%;
  --margin-large: 20%;
  --margin-xlarge:25%;
  --margin-medium:10%;
  --margin-small:5%;
  --margin-xsmall:1%;
 
}

html {

	-ms-text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%;

}

*, *:before, *:after {

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

input, textarea {

	-webkit-appearance: none;

	-webkit-border-radius: 0;

}

button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {

	-webkit-appearance: button;

	cursor: pointer;

 	*overflow:visible;

}

body, img,.commentys-form input[type="text"],.commentys-form input[type="email"],.commentys-form input[type="url"],.commentys-form textarea {

	transition: all .2s linear;

	-o-transition: all .2s linear;

	-moz-transition: all .2s linear;

	-webkit-transition: all .2s linear;

}

html, body, div, span, object, iframe, header,h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, main {
	
	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	margin: 0;

	padding: 0;

	vertical-align: baseline;

	border: 0;

	outline: 0;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section, img, main {

	display: block

}

audio, canvas, video {

	display: inline-block;

 *display:inline;

 *zoom:1

}

blockquote:before, blockquote:after, q:before, q:after {

	content: '';

	content: none;

}

.clear {

	clear: both;

	line-height: 0;

	height: 0;

}

a {

	text-decoration: none;

	outline: none;

	color: #010101;

	transition-delay: 0s;

	transition-duration: 0.6s;

	transition-property: all;

	transition-timing-function: ease;

}

a:focus, img:focus, button:focus, .btn:focus {outline: none;}

::-moz-selection {background-color:#fb5353;color:#fff;text-shadow:none;}

::selection {background-color: #fb5353;color: #fff;text-shadow: none;}



/*===== topnav ===*/

header {
  padding-top:var(--margin-xsmall);
  padding-bottom:var(--margin-xsmall);
  padding-left:var(--margin-small);
  padding-right:var(--margin-small);
}

.menu-item {
  padding-top:30px;
  float:right;
}

#logo {
  float:left;
}

.topnav a {
  font-family: var(--typeface-text);
	text-align: center;
	padding: 40px 16px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
	color:#404040;
}
  
.topnav a:hover {
color: #dd7676;
text-decoration: underline;
cursor:pointer;

}

.topnav .icon {
display: none;
}

.topnav a:active{text-decoration: none;}

/*==test==*/
  /* .sticky a.active {
	color: #f5f5f5;
  }
  .sticky {
	position: -webkit-sticky;
	position:fixed;
	right:0;
	width: 10%;
	margin-right: 1%;
	top: 20%;
  }
  .nav-link {
	display: block;
	color: #404040;
	text-decoration: none;
	padding: 10px;
	font-weight: 300;
	font-size:16px;
  }
  
  .nav-link:hover {
	color: #dd7676;
	font-weight: 600;
	text-decoration: none;
  }
  
  .sticky a.active {
	color: #dd7676;
	font-weight: 600;
  } */

/*===== main ===*/
.tag {
  padding-top:15px;
  display:flex;
}

span { 
  font-size:13px;
  color:#838282;
  margin-right:10px;
  font-family:var(--typeface-text);
  border: 1px;
  padding:8px;
  border-radius: 15px;
  background-color: #f0f0f0;

}

.row section{
  padding-bottom: 150px;
}

h1 {
  font-family: var(--typeface-title);
  line-height: 20px;
  font-weight: 600;
  font-size: 48px;
}

h2 {
  text-align:center;
  width:100%;
  margin:0 auto;
}

p {
  color:var(--color-text);
  font-family: var(--typeface-text);
  font-size: 20px;
  line-height:35px;
  font-weight:300;
}


.self-intro { padding-bottom:var(--margin-medium); padding-top:var(--margin-medium);}

.self-intro p { font-size:25px; line-height:42px; color:var(--color-text); padding-top: 20px; padding-bottom: 60px}

.self-intro b {font-weight: 400;color:var(--color-theme);}

.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom:var(--margin-footer);
}

.index-container-image img {
  border-radius:var(--margin-xsmall);
  width: 100%;
  height: auto;
  -webkit-animation-delay: .25s !important;
          animation-delay: .25s !important;
  -webkit-transition: all .65s;
  -o-transition: all .65s;
  transition: all .65s;
  box-shadow: 1px 1px 20px #e0e0e0;
}

.index-container-image img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

#index-width-change {
  padding-left:var(--margin-large);
  padding-right:var(--margin-large);
}
.view-case-study {
  margin-top: var(--margin-primary);

}

.view-case-study a {
  font-family: var(--typeface-title);
  font-weight:700;
  font-size:18px;
  width:30%;
  color:inherit;
  text-decoration: none;
  /* background-image: linear-gradient(120deg, var(--color-light) 0%, var(--color-secondary) 100%); */
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0% 90%;
  transition: background-size 0.25s ease-in;
  -moz-transition: background-size 0.25s ease-in;
  -ms-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
  -webkit-transition: background-size 0.25s ease-in;
}

.view-case-study a:hover {
  background-size:100% 88%;
  text-decoration: none;
  color:inherit;
}

#ipd-view {
  background-image: linear-gradient(120deg, var(--color-ipd-light) 0%, var(--color-ipd-secondary) 100%);
}

#buddyfind-view {
  background-image: linear-gradient(120deg, var(--color-buddy-light) 0%, var(--color-buddy-secondary) 100%);
}

#eazibuy-view {
  background-image: linear-gradient(120deg, var(--color-eazibuy-light) 0%, var(--color-eazibuy-secondary) 100%);
}

#mim-view {
  background-image: linear-gradient(120deg, var(--color-mim-light) 0%, var(--color-mim-secondary) 100%);
}

.underline { 
  width:10%;
  border-top: 1px solid #404040 ;
  margin:0;
}
.underline2 {
  border-top: 1px solid lightgrey ;
}

#text-left {
  padding-right:var(--margin-small);
  padding-top:var(--margin-xsmall);
}

#text-right {
  padding-left:var(--margin-small);
  padding-top:var(--margin-xsmall);

}

.index-text h1 {
color:inherit;
font-family: var(--typeface-title);
font-weight:500;
font-size:30px;

}

.index-text h5 {
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
padding: 5px 10px;
border-radius: 28px;
margin-right: 10px;

}

.index-text p {
	color:#8f8e8e;
	font-size:20px;
	line-height:35px;
}

.work-details h2,h3,h4,h5,p,figcaption {
  font-family: var(--typeface-text);
}

.work-details h1,h2,h3 {
  color:var(--color-text);
}

.work-details h1 { 
  font-size: 35px;
  line-height:40px;
  font-weight:500;
}
.work-details h2 {
  font-weight:500;
  font-size:30px;
  line-height:50px;
}
.work-details h3 {
  font-size:25px;
  font-weight:700;
}

.work-details h4 {
  font-size: 20px;
  line-height:50px;
}

#width-change {
  padding-top:var(--margin-small);
  max-width:var(--width-max);
  margin:0 auto;
}

.banner img {
  width:100%;
  margin:0 auto;
}

/*==IPD Project ==*/
.challenge-overview {
  padding-bottom: var(--margin-small);
}

.project-overview span {
  font-size:25px;
  background:none;
  font-weight:300;
  line-height:40px;
  color:#404040;
}

 #ipd-head-overview strong,.ipd h4 {
  color:var(--color-ipd-primary);
}

#ipd-head-overview {
  font-weight:300;
  line-height:40px;
}

.overview {
  display:flex;
  justify-content: space-between;
}

.role {
  padding-left:var(--margin-small);
}


#solution-number {
  color:var(--color-ipd-light);
  font-size:80px;
  font-family: var(--typeface-text);
  line-height:0px;
  font-weight:900;
}

.ipd h3 {
  line-height:40px;
}

#ipd-challenge-highlight {
  padding: var(--margin-small);
  background: var(--color-ipd-bg);
  max-height:800px;
}

.ipd-solution {
  padding: var(--margin-medium);
  columns:300px 2;
}

.ipd-solution-overview {
  padding-right:50px;
}

.ipd-image img {
  width:100%;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.pal-image {
  padding:var(--margin-small);
  background: var(--color-ipd-bg);
  max-height:1000px;
}

#how-work-content,#validation-content{
  width:var(--width-max);
  margin:0 auto;
}

.pal-image img {
  padding-top:var(--margin-medium);
  width:100%;
  margin:0 auto;  
}

.ipd i{
  color:var(--color-ipd-primary);
  font-size:30px;
  padding:8px;
  padding-left:0px;
}
.ipd-process-overview{
  padding-bottom:100px;
}
.ipd-research-content{
  padding-bottom:100px;
}

#ipd-persona,#ipd-empathy,.concept-collection{
  width: 100vw;
  margin-left: calc(-50vw + 50%)
}

#maria,#empathy-map{
  width:50%;
  margin:0 auto;
}

figcaption {
  padding-top:15px;
  text-align:center;
  font-weight:300;
  margin:0 auto;
}

.ipd-interview{
  margin:auto 0;
  text-align:center;
}

#interview-number{
  font-size:50px;
  font-weight:700;
  color: var(--color-ipd-primary);
  font-family: var(--typeface-text);
}

.ipd-interview-data{
  columns:200px 2;
  padding-bottom:50px;
  padding-top:50px;
}

/* #empathy-map {
  width:70%;
  margin:0 auto;
} */

.concept-collection {
  display:flex;
  
}
#brainstorm,#app-design{
  box-shadow:none;
}
#concept {
  border-radius:0;
  width:80%;
  margin:0 auto;
}
#concept-test {
  width:110%;
}
.quote-line{
  width:20%;
}

#quote{
  font-size: 30px; 
  padding-top:50px;
}

#validation{
  /* width: 100vw;
  margin-left: calc(-50vw + 50%); */
  background: var(--color-ipd-bg);
}

#goal-number{
  color:var(--color-ipd-light);
  font-size:50px;
  font-family: var(--typeface-text);
  font-weight:900;
}
.design-goal-content{
  columns: 400px 2;
}
.production-process{
  display:flex;
}
.goal{
  display:block;
  padding-left:15px;
  padding-top:5px;
}
.goal-section{
  display:flex;
  padding-right:40px;
  padding-bottom:40px;
}
.production-process img{
  border-radius: 0;
}

.product-model {
  display:block;
}
.product-pendant img{
  width:100%;
  margin-left:50%;
}


.product-model img {
  margin-bottom:30px;
  margin-left:25%;
  width:50%;
}

#ipd-app {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
#examplar {
  width:60%;
  margin:0 auto;
}
#app-design {
  width:70%;
  margin:0 auto;
}



/*== MIM Project ==*/

.mim h4 strong, #reflection {
  color: var(--color-mim-primary);
}

.mim-image img {
  width:100%;
  margin:0 auto;
}

#mim-h1 strong {
  font-size:30px;
  line-height:45px;
  color:var(--color-mim-primary);
}

#mim-head-overview {
  font-weight:300;
  line-height:40px;
}

#mim-core-mobile {
  width:30%;
  margin:0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#mim-head-overview strong {
  color:var(--color-mim-primary);
}

.header-container{
	float:left;
	width:25%;
}

.container2 h4{
	padding-top:15px;
	line-height:30px;
  font-weight:500;
}


.dash-board-redesign {
  background-color:var(--color-mim-bg) ;
}

#validation-content {
  padding-top:var(--margin-small);
  padding-bottom:var(--margin-small);
  width:var(--width-max);
  margin:0 auto;
 
}

#to-do-list,#dash-final img,#dialpad {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mim-banner img, .buddyfind-banner img, .eazibuy-banner img,.loansense-banner img{
	max-height: 400px;
}


.processgraphic img,.prototype img{
	width: 70%;
	height: auto;
}

.cardview-before-after img,.filter-sorting-before-after img{
	width:90%;
}

.overall img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 30%;	
}


/*== buddyfind ==*/

/* .buddyfind h1, h2, h3, h4,h5, p{
  text-align: left;
} */

.buddyfind-image img {
  width:100%;
  margin:auto 0;
  object-fit: contain;;
}

.buddyfind i {
  color: var(--color-buddy-primary);
}

.buddyfind-research-content{
  /* padding-bottom:100px; */
}

#buddyfind-challenge-highlight{
  background: var(--color-buddy-bg);
  max-height:800px;
  padding:var(--margin-small);
}

#buddyfind-interview {
  width:70%;
  margin:0 auto;
}

.userflow img {
  /* border:solid black 2px; */
  width: 80vw;
  margin-left: calc(-40vw + 50%);
  background: var(--color-buddy-bg);
  
}
.persona img{
	width: 80%;
}

.buddyfind-solution h3{
	color:#998A7E;
}
.buddyfind-solution strong{
	color:#F3B962;
}

#buddyfind-head-overview strong,.buddyfind h4{
  color:var(--color-buddy-primary);
}

#buddyfind-head-overview {
    font-weight:300;
    line-height:40px;
}

#problem {
  text-align:center;
  width:100%;
  margin:0 auto;
  padding-bottom: 10px;
}

.buddyfind-solution,.buddyfind-solution-alt{
  display: flex;
  z-index: 100;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.impact{
  display:flex;
  
}

.gif img{
	width: 300px;
	height:auto;
	border-radius: 30px;
	box-shadow: 20px 20px 30px  rgba(0, 0, 0, 0.15);
}

.right{
	margin-left:var(--margin-primary);
	margin-top:var(--margin-small);
}

.left{
	margin-right:var(--margin-primary);
	margin-top:var(--margin-small);
}

.buddy-quote {
  width:90%;
}

.flex{
	display:flex;
	padding: 5px;
}

#buddyfind-validation{
  background: var(--color-buddy-bg);
  padding:var(--margin-small);
  height:auto;
}

.final-design {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

#buddy-process {
  width:120%;
}

.final-design img{
  padding-left:var(--margin-medium);
  padding-right:var(--margin-medium);
  padding-bottom:var(--margin-medium);
}

#changes img{
	max-width: var(--width-max);
  max-height:500px;
}

.buddyfind p a{
	color: #E38B75;
}

.people,.animal,.community{
	padding-right:var(--margin-small);
	text-align:center;
}



/*== eazibuy ==*/

#eazibuy-head-overview strong {
  color:var(--color-eazibuy-primary);
}

#eazibuy-head-overview {
  font-weight:300;
  line-height:40px;
}

.eazibuy-image img{
  width:100%;
  margin:auto 0;
}
.prompt {
  display:flex;
}

.eazibuy i{
  color:var(--color-eazibuy-primary);
}
#eazibuy-challenge-highlight {
  padding: var(--margin-small);
  background: var(--color-eazibuy-bg);
  max-height:800px;
}

.eazibuy h4{color:#5FC9B0; }

.what-if {
	display: flex;
}

.what-if-text{
	margin-right:10%;
}
.what-if-image{
	margin-top:7%;
	margin-right:7%;
	
}

.eazibuy-intervew {
	width:90%;
}

.user-journey {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: var(--margin-small);
}

.eazibuy-gif img{
	width: 300px;
	height:auto;
}	

.eazibuy-solution{
	display: flex;
	margin-bottom: 20%;
}

.eazibuy-right,.eazibuy-left{
	width:40%;
}

.eazibuy-right{
	margin-left:15%;
}

.eazibuy-left{
	margin-right:15%;
}

#eazibuy-validation{
  background: var(--color-eazibuy-bg);
  padding:var(--margin-small);
  height:auto;
}

.eazibuy-solution h3{
	color:#4C80D7;
}


/*== Top ==*/
#toTop{
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  background: none;
  border:none;
}

#toTop i{
  color:black;
}

#toTop i:hover {
  color:var(--color-hover);
}



/*===== footer ===*/
/* footer[role="footer"] img{margin-left:auto;margin-right:auto; max-width:40px;}

footer[role="footer"]nav{ padding-top:37px; padding-bottom:43px}

footer[role="footer"] nav > ul{ text-align:center; padding:0; margin-left:auto;margin-right:auto;}

footer[role="footer"] nav > ul > li{ display: inline-block; font-size:18px; margin:0 20px}

footer[role="footer"] nav > ul > li > a{ color:var(--color-text);}

footer[role="footer"] nav > ul > li:hover a{color:rgb(129, 128, 128);} */

footer[role="footer"] ul[role="social-icons"]{ padding:0; margin:0; text-align:center; padding-bottom:40px;}

footer[role="footer"] ul[role="social-icons"] > li{ display: inline-block; margin:0 10px}

footer[role="footer"] ul[role="social-icons"] > li > a{ display:block; width:42px; height:42px; background-color:var(--color-hover); color:#FFF; line-height:42px; font-size:20px; border-radius:100%; text-align:center}

footer[role="footer"] ul[role="social-icons"] #linkedin:hover a{ background-color:#0E76a8;}

footer[role="footer"] ul[role="social-icons"] #insta:hover a{ background-color:#E1306C;}

footer[role="footer"] ul[role="social-icons"] #email:hover a{ background-color:#D44638;}

footer[role="footer"] ul[role="social-icons"] #github:hover a{ background-color:black;}

footer[role="footer"] .copy-right{ padding-bottom: var(--margin-xsmall); text-align:center; display:block; font-size:15px; line-height:13px; color:#9c9c9c}

.footer-section{
  position:relative;
  background-image: url(../images/ipd/footer-01.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80% 100%;
  background-repeat:no-repeat;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height:200px;
}

#buddyfind-footer{
  background-image: url(../images/buddyfind/footer.png);
}

#eazibuy-footer{
  background-image: url(../images/eazibuy/footer.png);
}

#mim-footer {
  background-image: url(../images/mim/footer.png);
}

.footer-nav{
  position:absolute;
  bottom:10px;
  width:100%;
}
.copy-right{
  text-align:center;
  color:var(--color-text);
}

.next-project {
  padding-top:var(--margin-xsmall);
  /* border:solid 2px black; */
  margin-left:var(--margin-footer);
  margin-right:var(--margin-footer);
}
#footer-next {
  font-family: var(--typeface-title);
  font-size:30px;
  font-weight:300;
}

#footer-next:hover{
  color:var(--color-hover);
}

#footer-text {
  font-weight: 500;
  font-size:20px;
  color:black;
  line-height:60px;
}

/*===== About ===*/

main[role="main-inner-wrapper"] .about-content img {margin-left: auto;
margin-right: auto;
object-fit: cover;
width:100%;
height:auto;
/* padding-top:var(--margin-large);
padding-left:var(--margin-medium); */

}
main[role="main-inner-wrapper"] .intro img {
  /* width:120%; */
  padding-top:var(--margin-large);
}

main[role="main-inner-wrapper"] article[role="pge-title-content"] {
  padding-right:var(--margin-small);
}

main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 span{background:none; display:block; line-height: 60px;font-size:50px; color:#dd7676; padding-bottom:5px;font-weight:800;}

main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2{font-size:25px; font-weight:700px; line-height: 50px;}

main[role="main-inner-wrapper"] article[role="pge-title-content"] p {padding-top:30px;}

main[role="main-inner-wrapper"] article[role="pge-title-content"] span {font-size: 20px;background:none; font-weight: 300;}

main[role="main-inner-wrapper"] article[role="pge-title-content"] b{color:#dd7676; font-weight:200}

main[role="main-inner-wrapper"] article[role="pge-title-content"] h4 {font-size:20px;line-height:30px;}

main[role="main-inner-wrapper"] .thumbnails-pan{ padding-top:30px}

main[role="main-inner-wrapper"] .thumbnails-pan section figure{background-color:#FFF; position:relative; overflow:hidden;}

.intro {
  padding-top:var(--margin-medium);
  padding-bottom:var(--margin-medium);
  display:flex;
}

.about-row{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap:10px;
	
}

.about-column img{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);}

.spare-time h3{
	color:#dd7676;
}

.current-project h4{
	padding-left: 10px;color:#666666;border-left:3px solid#dd7676; 
}

/* == Blog Details ==

.bog-header { padding-bottom:62px}

.bog-header h3,.comments-pan h3,.commentys-form h4{ color:#404040;font-weight:800; padding-bottom:24px; display:block}

.bog-header h3 span{ color:#fb5353}

.bog-header h2{ font-size:36px; font-weight:normal}

.blog-details .enter-content{ margin-top:62px}

.blog-details .enter-content p{ font-size:16px; line-height:30px; font-weight:300; margin-bottom:23px}

.comments-pan{border-top:2px solid #dedede; padding-top:15px}

.comments-pan h3{border-bottom:2px solid #dedede; padding-bottom:34px; margin-bottom:52px}

.comments-reply,.reply-pan{ padding:0; margin:0; list-style:none}

.comments-reply li{ display:block; border-bottom:2px solid #dedede; overflow:hidden; padding-bottom:51px; margin-bottom:39px}

.comments-reply li figure{ float:left; width:70px; background-color:#000}

.comments-reply li section{ float:left; padding-left:30px; font-size:16px; line-height:30px; font-weight:300; color:#343434;width: 92%;}

.comments-reply li section .date-pan{ font-size:14px; line-height:18px; padding-bottom:25px}

.comments-reply li section h4{font-weight:800; color:#404040; font-size:21px; margin-bottom:6px; margin-top:0}

.comments-reply li section h4 a{ font-size:16px; color:#fb5353;font-weight:400; display:inline-block; padding-left:20px}

.reply-pan{ clear:both; display:block; margin-left:100px;padding-top:39px }

.reply-pan li{ border-bottom:none;border-top:2px solid #dedede; padding-bottom:0; margin-bottom:0;padding-top:38px;}

.commentys-form h4{ font-size:24px}

.commentys-form form{ margin-top:30px}

.commentys-form input[type="text"],.commentys-form input[type="email"],.commentys-form input[type="url"],.commentys-form textarea{ font-size:21px; line-height:22px; color:#404040; padding-bottom:26px; border-bottom:2px solid #bbbbbb; width:100%; display:block; border-left:none; border-right:none; border-top:none; background-color:transparent; outline:none}

.commentys-form textarea{ margin-top:57px}

.commentys-form input[type="text"]:focus,.commentys-form input[type="email"]:focus,.commentys-form input[type="url"]:focus,.commentys-form textarea:focus{ border-bottom-color:#000}

.commentys-form input[type="button"]{ padding:0 36px; text-transform:uppercase; display:inline-block; font-size:21px; line-height:60px; color:#FFF; font-weight: bold; text-align:center; border:none; outline:none; background-color:#fb5353; margin-top:50px}

.commentys-form input[type="button"]:hover{ background-color:#ff5c5c}

 */

 /* ===== Blog ===

article[role="pge-title-content"].blog-header{ padding-bottom:218px}

section.blog-content{ margin-bottom:29px}

section.blog-content figure{ overflow:hidden; position:relative;background-color: rgba(255,255,255,0.4); cursor:pointer}

section.blog-content figure .post-date{ text-align:center; color:#FFF; font-weight:800; font-size:14px; line-height:18px; text-transform:uppercase; display:block; background-color:#fb5353; width:130px; height:130px; position:absolute; left:0; top:0; padding-top:41px; z-index:50}

section.blog-content figure .post-date span{ font-size:50px; line-height:35px; display:block}

section.blog-content  article{ font-size:21px; line-height:30px; color:#FFF;  font-weight:800; color:#343434; padding-left:42px; padding-top:33px; padding-bottom:31px;}

section.blog-content:hover figure img{ opacity:0.5} */

